.slideshow {
  width: 100%;
  height: calc(100vh - 60px); /* full viewport minus header height */
  overflow: hidden;
  /* margin: 0; remove any default margins */
  margin-top: 5px;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures image fills container without distortion */
  display: block;
  object-position: top;
  margin-top: 0%;
}
